///////////////////////
// House View Styles
///////////////////////

@floor-height: 370px;
@floor-margin: 22px;

@z-house-graphic: 0;

#house-view {
	position: relative;
	//background-color: darken(@bg-color, 2%);

	// .leaflet-popup-pane {
	// 	padding-top: @header-height;
	// }

	.leaflet-container {
		overflow: visible;
	}

	.leaflet-popup {
		bottom: 0px !important;
		opacity: 0;

		.leaflet-popup-content {
			padding-top: 10px;
			padding-right: 23px;
		}

		&.right {

			.leaflet-popup-tip {
				@arrow-width: 16px;
				right: @arrow-width;
				box-shadow: none;
				
				right: -@arrow-width;
				float: right;

				//.arrow(bottom, @arrow-width, red);
			}	
		}
	}
}

#house-slider {
	position: relative;
	margin-top: @header-height + 50;

	top: 0;
	.transition(top, 0.5s, ease-out);

	&.floor-3-active {
		top: 0;
		#nav-floor-3 { opacity: 0; /*display: none;*/ }
	}

	&.floor-2-active {
		top: -(@floor-height + @floor-margin);
		#nav-floor-2 { opacity: 0; /*display: none;*/ }
	}

	&.floor-1-active {
		top: -2*(@floor-height + @floor-margin);
		#nav-floor-1 { opacity: 0; /*display: none;*/ }
	}
}

#house {
	// .background-image('../images/house/HouseView_DUMMY.png', center center);
	//.background-size(100% 100%);
	.block(100%, 100%);
}

///////////////
// Hit Areas
///////////////

#svg-hit-areas {
	position: absolute;
	top: 0;
	left: 0;

	z-index: @z-house-graphic + 1;
	
	//.block(100%, 100%);
}

@import "house-hit-areas";

///////////////
// House Nav
///////////////

#svg-nav {
	position: absolute;
	z-index: @z-house-graphic + 2;
	top: 200px;
	left: 0;
	right: 0;

	& > a {
		position: absolute;
		
		background-color: @bg-color;
		
		//visibility: "visible";
		opacity: 0.8;
		.transition(opacity, 0.5s, ease-out);

		//.rgba(200, 0, 0, 0.5);
		.block(100%, @floor-height);

		&#nav-floor-3 {
			top: 0;
		}

		&#nav-floor-2 {
			top: @floor-height + @floor-margin;
		}

		&#nav-floor-1 {
			top: 2*(@floor-height + @floor-margin);
		}
	
		// Deactivate click events
		&.active {
			//display: none;
			//visibility: "hidden";
			opacity: 0;
			width: 0px;
			height: 0px;
		}

		// &.fadeOut {
		// 	display: block;
		// 	opacity: 0.8;
		// }
	}
}

/////////////////
// SVG Styling
/////////////////

.active-graphic {

	path, polygon, line {
		fill: #ccc;
		stroke: #fff;
	}

	polyline {
		stroke: #fff;
	}
}