///////////////
// Hit Areas
///////////////

.hit-area(@x, @y, @w, @h, @z: 1) {
	position: absolute;
	left: @x;
	top: @y;

	z-index: @z;

	.block(@w, @h);
	//.rgba(#f00, 0.3);
}

////////
// WG
////////

#hit-floor3 {
	#hit-Boy_x5F_1 {
		.hit-area(332px, 388px, 47px, 89px);
	}

	#hit-Boy_x5F_2 {
		.hit-area(612px, 320px, 46px, 102px, 2);
	}

	#hit-Girl {
		.hit-area(704px, 374px, 53px, 95px);
	}

	#hit-Bottle {
		.hit-area(389px, 419px, 24px, 33px);
	}

	#hit-Lamp {
		.hit-area(197px, 400px, 30px, 108px);
	}

	#hit-Cabinet_x5F_Open {
		.hit-area(510px, 220px, 142px, 88px);
	}

	#hit-Counter_x5F_Open {
		.hit-area(560px, 332px, 60px, 74px);
	}

	#hit-Laptop {
		.hit-area(660px, 422px, 45px, 26px, 2);
	}

	#hit-WC {
		.hit-area(766px, 348px, 50px, 63px);
	}

	#hit-Sink {
		.hit-area(863px, 355px, 46px, 38px);
	}
}

/////////
// Oma
/////////

#hit-floor2 {
	
	#hit-Granny_1_ {
		.hit-area(280px, 365px + @floor-height + @floor-margin, 65px, 130px);
	}

	#hit-XMLID_38_ {
		.hit-area(410px, 426px + @floor-height + @floor-margin, 56px, 38px);
	}

	#hit-Radio {
		.hit-area(363px, 377px + @floor-height + @floor-margin, 30px, 33px);
	}

	#hit-Door_1_ {
		.hit-area(424px, 270px + @floor-height + @floor-margin, 65px, 150px);
	}

	#hit-Lamp_1_ {
		.hit-area(190px, 400px + @floor-height + @floor-margin, 45px, 108px);
	}

	#hit-Cabinet_x5F_open {
		.hit-area(510px, 220px + @floor-height + @floor-margin, 142px, 88px);
	}

	#hit-Counter_x5F_open {
		.hit-area(560px, 332px + @floor-height + @floor-margin, 94px, 74px);
	}
	
	#hit-First_x5F_Aid {
		.hit-area(873px, 308px + @floor-height + @floor-margin, 40px, 38px);
	}

	#hit-XMLID_61_ {
		.hit-area(766px, 348px + @floor-height + @floor-margin, 50px, 63px);
	}

	#hit-Sink_1_ {
		.hit-area(863px, 355px + @floor-height + @floor-margin, 46px, 38px);
	}
}

///////////
// Mutti
///////////

#hit-floor1 {

	#hit-Mom_1_ {
		.hit-area(370px, 380px + 2*(@floor-height + @floor-margin), 45px, 125px);
	}
	
	#hit-Smartphone {
		.hit-area(410px, 425px + 2*(@floor-height + @floor-margin), 35px, 33px, 2);
	}
	
	#hit-Kid {
		.hit-area(590px, 440px + 2*(@floor-height + @floor-margin), 46px, 68px);
	}

	#hit-Lamp_2_ {
		.hit-area(735px, 375px + 2*(@floor-height + @floor-margin), 30px, 112px);
	}

	#hit-Cabinet_x5F_open_1_ {
		.hit-area(510px, 220px + 2*(@floor-height + @floor-margin), 142px, 88px);
	}

	#hit-Counter_x5F_open_1_ {
		.hit-area(560px, 332px + 2*(@floor-height + @floor-margin), 94px, 74px);
	}

	#hit-Door_2_ {
		.hit-area(424px, 270px + 2*(@floor-height + @floor-margin), 65px, 150px);
	}

	#hit-First_x5F_aid_1_ {
		.hit-area(873px, 300px + 2*(@floor-height + @floor-margin), 40px, 38px);
	}

	#hit-Sink_2_ {
		.hit-area(863px, 345px + 2*(@floor-height + @floor-margin), 46px, 38px);
	}
}
