/*   
Resilient Design Interactive Poster
Repository URL: https://github.com/FH-Potsdam/ResilientDesign
Author: Jordi Tost
Author URI: https://github.com/jorditost/
Version: 1.0
*/

// Main Framework 
@import "reset";
@import "common-vars";
@import "common";

// Theme specific
@import "vars";
@import "mixins";

/* Ok, this is where the fun starts.
---------------------------------------*/

body {
	font: 12px @font-reg;
	line-height: 1.5;
	background: #333;
}

html {
	overflow-x: hidden; // avoid scrolling when out of wrapper elements
}

html, body {
    -webkit-text-size-adjust: 100% !important; /* Prevent font scaling in landscape */
}

// Webkit smoothing
// http://www.icondeposit.com/blog:how-to-properly-smooth-font-using-css3
//html, html a {
* {
	-webkit-font-smoothing: antialiased !important; 
}

body, select, input, textarea { 
	color: @text-color; 
}

strong, b {
	font-family: @font-bold;
	font-weight: normal;
}

a {
	color: @link-color; 
	text-decoration: none;

	outline: none;
	border: none;

	&:hover {
		color: @link-h-color;
	}

	&:active, &:focus, &:hover {
		border: none;
		outline: none;
	}

	.transition(all, 0.2s, ease);
}

// Bold fonts when using web-fonts
// strong {
// 	font-family: @font-bold;
// 	font-weight: 100;
// }

p {
	margin-bottom: 5px;
}

::-moz-selection{background: @sel-color; color: #fff; text-shadow: none;}
::selection {background: @sel-color; color: #fff; text-shadow: none;}

// /*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: @tap-color;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


/////////////
// Headers
/////////////

h1, h2, h3, h4, h5, h6 {
	// font-weight: 100;
	.optimize-text();
}


//////////////////
// Main Classes
//////////////////

.inside {
	.inside-block(@wrap-width);
}


/////////////
// HEADER
/////////////

header {
	position: relative;
	height: @header-height;

	& > .inside {
		height: @header-height - @bar-height;
		//padding-top: 130px;
		//padding:45px 0 30px;
	}
	
	@bottom: 5px;

	h1 {
		position: absolute;
		bottom: @bottom;

		font: 60px @font-light;
	}

	summary {
		position: absolute;
		bottom: @bottom + 7px;
		left: 275px;

		width: 350px;
		
		font: 18px @font-light;
		line-height: 25px;
	}
}

// View navigation
#view-nav {

	position: absolute;
	bottom: 0;
	//.block(100%, 50px);
	width: 100%;

	.bar();
	
	ul { 
		height: 100%;
		font-size:0; // removes space created by inline-block
	}

	li {
		.size(190px, 100%);
		border-right: 2px solid @bg-color;
		text-align: center;

		.inline-block();

		&:first-child {
			border-left: 2px solid @bg-color; 
		}

		// Text styles
		a {
			width: 100%;
			height: 100%;
			//padding: 13px 0 12px;
			.optimize-text();
			.inline-block;

			font-size: 13px;
			line-height: @bar-height; //25px;
			
			&:before {
				content: "";
				.inline-block();
				.size(25px, 100%);
				background-size: 25px 25px;
				background-position: left center;
				background-repeat: no-repeat;
				margin-right: 10px;
			}

			&.intro-view:before { background-image: url('../images/icons/ResilientDesign_icons_introScreenIcon.png'); }
			&.map-view:before 	{ background-image: url('../images/icons/ResilientDesign_icons-02.png'); }
			&.house-view:before { background-image: url('../images/icons/ResilientDesign_icons-03.png'); }
		}

		// Active / hover styles
		&.active > a,
		a:hover {
			.rgba(@nav-color, 0.3);
		}
	}
}

///////////////
// Structure
///////////////

#wrap {
	width: @screen-width;
	margin: 0 auto;
	background: @bg-color;
}

#container {
	position: relative;
}

#viewport {
	overflow: hidden;
}

#view-slider {
	position: relative;
	.group;
	display: block;
	width: 3*@screen-width;

	.transition(left, 1s, @easeInOutCubic);
	//.transition(left, 1.5s, cubic-bezier(.57,.22,.45,.83));

	section {
		float: left;
		.block(@view-width, @view-height);
		min-height: 50px;
	}

	&.intro-view-active { left: 0; }
	&.map-view-active   { left: -@screen-width; }
	&.house-view-active { left: -2*@screen-width; }
}

///////////
// VIEWS
///////////

@import "map-view";
@import "house-view";


/////////////////
// CONTENT Box
/////////////////

#content-box {
	width: 100%;
	height: @content-box-height;
}

#timeline {
	.bar();
	border-bottom: 3px solid #4962a2;
}

#content {
	height: @content-box-height - 70px - @bar-height;
	.border-box();
	.group();

	// This 2 values should sum 55px (1080px-970px)
	margin: 35px;
	padding: 20px;

	.bg-overlay();
	
	// Content columns
	article, aside {
		float: left;
		display: block;
		margin-right: 25px;
		clear: right;
	}
	
	article {
		width: 375px;
		min-height: 20px;

		h2 {
			font: 16px @font-med;
			margin-bottom: 5px;
			font-weight: bold;
		}

		p {
			margin-bottom: 15px;
		}
	}

	aside {
		width: 166px;
		height: 480px;
		//background-color: @orange;
		//.opacity(20);

		h3 {
			font: 12px @font-reg;
			font-weight: bold;
			margin-bottom: 2px;
		}

		.progress-bar {
			margin-bottom: 33px;
		}
	}

	.problems {
		h2, strong {
			color: @orange;
		}
	}

	.solutions {
		margin-right: 0;
		h2, strong {
			color: @green;
		}
	}
}


///////////////////
// Progress bars
///////////////////

.progress-bar {
	.border-box();
	border: 1px solid;

	height: 15px;
	width: 100%;

	& > div {

		display: block;
		height: 100%;
	}
}

.problem-bars {
	h3 {
		color: @orange;
	}

	.progress-bar {
		border-color: @orange;
		& > div {
			background-color: @orange;
		}
	}
}

.solution-bars {

	text-align: right;

	h3 {
		color: @green;
	}

	.progress-bar {
		border-color: @green;
		& > div {
			float: right;
			background-color: @green;
		}
	}
}


/////////////
// FOOTER
/////////////

footer {
	
	.inside {
		padding: 15px 0 32px
	}
	
	#logo {
		position: absolute;
		left: 0;

		.background-image('../images/fhp-footer-logo.png');
		.block(7px, 37px);
	}

	.credits {
		font: 14px @font-extralight;
		line-height: 25px;
		color: @white; //darken(@white, 30%);

		padding-left: 25px;
		margin-top: -6px;
	}
}


///////////////////
// Media Queries
///////////////////

//@import "media-queries";