////////////
// FONTS
////////////

// Web fonts should be placed in the /fonts folder
// Usage:

// @font-face {
// 	.font-face('FontReg', 'font-reg-file');
// }
// @font-face {
// 	.font-face('FontReg', 'font-bold-file');
// }

@font-reg: Helmet, Freesans, sans-serif;
@font-bold: Helmet, Freesans, sans-serif;
//@font-reg:   'FontReg', Helmet, Freesans, sans-serif;
//@font-bold: 'FontBold', Helmet, Freesans, sans-serif;


////////////
// COLORS
////////////

// Template colors

// General colors
@text-color: 	#333;
@link-color: 	#03f;
@link-h-color: 	#69f;

@sel-color: 	#ff00ff;
@tap-color: 	#fcd700;


///////////////
// STRUCTURE
///////////////

@wrap-width: 		970px;
	@content-width: 725px;
	@content-margin: 20px;
	@sidebar-width: 225px;

@footer-height: 45px;