////////////
// FONTS
////////////

// Web fonts should be placed in the /fonts folder
// Usage:

// @font-face {
// 	.font-face('GothamBook', 'font-reg-file');
// }
// @font-face {
// 	.font-face('GothamBold', 'font-bold-file');
// }

@font-face {
	.font-face('ProximaNovaRegular', 'proximanova-regular');
}
@font-face {
	.font-face('ProximaNovaSemibold', 'proximanova-semibold');
}
@font-face {
	.font-face('ProximaNovaBold', 'proximanova-bold');
}
@font-face {
	.font-face('ProximaNovaExtrabold', 'proximanova-extrabold');
}

@font-extralight: 	'ProximaNovaRegular', Helmet, Freesans, sans-serif;
@font-light: 	 	'ProximaNovaRegular', Helmet, Freesans, sans-serif;
@font-reg: 	 	 	'ProximaNovaRegular', Helmet, Freesans, sans-serif;
@font-med:  	 	'ProximaNovaSemibold', Helmet, Freesans, sans-serif;
@font-bold:  	 	'ProximaNovaBold', Helmet, Freesans, sans-serif;
@font-black: 	 	'ProximaNovaExtrabold', Helmet, Freesans, sans-serif;

// @font-reg:   	  Helmet, Freesans, sans-serif;
// @font-med:   	  Helmet, Freesans, sans-serif;
// @font-light: 	  Helmet, Freesans, sans-serif;
// @font-extralight: Helmet, Freesans, sans-serif;
// @font-bold:       Helmet, Freesans, sans-serif;
//@font-reg:  'GothamBook', Helmet, Freesans, sans-serif;
//@font-light: 'GothamLight', Helmet, Freesans, sans-serif;
//@font-bold: 'GothamBold', Helmet, Freesans, sans-serif;


////////////
// COLORS
////////////

// Template colors
@bg-color: #12161f;
@nav-color: #4962a2;

@orange: #f7941d;
@green: #3cb878;

// General colors
@text-color: 	#fff;
@link-color: 	#fff;
@link-h-color: 	#fff;

@sel-color: 	#ff00ff;
@tap-color: 	#fcd700;


///////////////
// STRUCTURE
///////////////

@screen-width: 			   1080px;
@wrap-width: 		 		970px; //1080px;
	
	@header-height: 		240px;

	@view-width:  			@screen-width;
	@view-height: 			(884 / 1080)*@screen-width;

	@content-wrap-height: 	580px; //650px;
	@content-wrap-padding: 	 35px;
	@content-box-padding: 	 20px;

	@bar-height: 			 50px;
	@timeline-height: 		 65px;

@footer-height: 			 45px;