/*   
Resilient Design Interactive Poster
Repository URL: https://github.com/FH-Potsdam/ResilientDesign
Author: Jordi Tost
Author URI: https://github.com/jorditost/
Version: 1.0
*/
/*
	CSS Reset
	----------------------------------------------------------

	Based on the HTML5 Reset Wordpress Theme :: https://github.com/murtaugh/HTML5-Reset-Wordpress-Theme

	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
	Special thanks: The Wordpress theme owes its start to an empty theme authored 
		by Chris Coyier & Jeff Starr: http://digwp.com	
*/
/* Let's default this puppy out
----------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
img,
object,
embed {
  max-width: 100%;
}
html {
  overflow-y: scroll;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
a:hover,
a:active {
  outline: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
:focus {
  outline: 0 !important;
}
:active {
  outline: 0 !important;
}
.group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
/* Ok, this is where the fun starts.
---------------------------------------*/
body {
  font: 13px Helmet, Freesans, sans-serif;
  line-height: 1.4;
  background: #12161f;
}
html {
  overflow-x: hidden;
}
html,
body {
  -webkit-text-size-adjust: 100% !important;
  /* Prevent font scaling in landscape */
}
* {
  -webkit-font-smoothing: antialiased !important;
}
body,
select,
input,
textarea {
  color: #ffffff;
}
strong,
b {
  font-family: Helmet, Freesans, sans-serif;
  font-weight: normal;
}
a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  border: none;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover {
  color: #ffffff;
}
a:active,
a:focus,
a:hover {
  border: none;
  outline: none;
}
p {
  margin-bottom: 5px;
}
::-moz-selection {
  background: #ff00ff;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #ff00ff;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #fcd700;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}
.inside {
  position: relative;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}
header {
  position: relative;
  height: 240px;
}
#view-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4962a2;
  background-color: rgba(73, 98, 162, 0.3);
}
#view-nav ul {
  height: 100%;
  font-size: 0;
}
#view-nav li {
  width: 190px;
  height: 100%;
  border-right: 2px solid #12161f;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
#view-nav li:first-child {
  border-left: 2px solid #12161f;
}
#view-nav li a {
  width: 100%;
  padding: 13px 0 12px;
  text-rendering: optimizeLegibility;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 13px;
  line-height: 25px;
}
#view-nav li a:before {
  content: "";
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#view-nav li a.intro-view:before {
  background-image: url('../images/icons/ResilientDesign_icons_introScreenIcon.png');
}
#view-nav li a.map-view:before {
  background-image: url('../images/icons/ResilientDesign_icons-02.png');
}
#view-nav li a.house-view:before {
  background-image: url('../images/icons/ResilientDesign_icons-03.png');
}
#view-nav li.active > a,
#view-nav li a:hover {
  background-color: #4962a2;
  background-color: rgba(73, 98, 162, 0.3);
}
#container {
  position: relative;
}
#viewport {
  overflow: hidden;
}
#view-slider {
  position: relative;
  zoom: 1;
  display: block;
  width: 2910px;
  -moz-transition: left 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: left 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: left 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: left 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: left 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#view-slider:before,
#view-slider:after {
  content: "";
  display: table;
}
#view-slider:after {
  clear: both;
}
#view-slider section {
  float: left;
  width: 970px;
  height: 794px;
  display: block;
  min-height: 50px;
}
#view-slider.intro-view-active {
  left: 0;
}
#view-slider.map-view-active {
  left: -970px;
}
#view-slider.house-view-active {
  left: -1940px;
}
#map {
  width: 100%;
  height: 100%;
  display: block;
}
#house {
  background-image: url('../images/dummy/HouseView_DUMMY.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
