/*   
Resilient Design Interactive Poster
Repository URL: https://github.com/FH-Potsdam/ResilientDesign
Author: Jordi Tost
Author URI: https://github.com/jorditost/
Version: 1.0
*/
/*
	CSS Reset
	----------------------------------------------------------

	Based on the HTML5 Reset Wordpress Theme :: https://github.com/murtaugh/HTML5-Reset-Wordpress-Theme

	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
	Special thanks: The Wordpress theme owes its start to an empty theme authored 
		by Chris Coyier & Jeff Starr: http://digwp.com	
*/
/* Let's default this puppy out
----------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
img,
object,
embed {
  max-width: 100%;
}
html {
  overflow-y: scroll;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
a:hover,
a:active {
  outline: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
:focus {
  outline: 0 !important;
}
:active {
  outline: 0 !important;
}
.group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('fonts/proximanova-regular-webfont.eot');
  src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-regular-webfont.woff') format('woff'), url('fonts/proximanova-regular-webfont.ttf') format('truetype'), url('fonts/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaSemibold';
  src: url('fonts/proximanova-semibold-webfont.eot');
  src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-semibold-webfont.woff') format('woff'), url('fonts/proximanova-semibold-webfont.ttf') format('truetype'), url('fonts/proximanova-semibold-webfont.svg#ProximaNovaSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('fonts/proximanova-bold-webfont.eot');
  src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-bold-webfont.woff') format('woff'), url('fonts/proximanova-bold-webfont.ttf') format('truetype'), url('fonts/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaExtrabold';
  src: url('fonts/proximanova-extrabold-webfont.eot');
  src: url('fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-extrabold-webfont.woff') format('woff'), url('fonts/proximanova-extrabold-webfont.ttf') format('truetype'), url('fonts/proximanova-extrabold-webfont.svg#ProximaNovaExtrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.textIMG {
  float: left;
  margin-right: 10px;
  max-width: 170px;
  height: auto;
}
/* Ok, this is where the fun starts.
---------------------------------------*/
body {
  font: 12px 'ProximaNovaRegular', Helmet, Freesans, sans-serif;
  line-height: 1.5;
  background: #333;
}
html {
  overflow-x: hidden;
}
html,
body {
  -webkit-text-size-adjust: 100% !important;
  /* Prevent font scaling in landscape */
}
* {
  -webkit-font-smoothing: antialiased !important;
}
body,
select,
input,
textarea {
  color: #ffffff;
}
strong,
b {
  font-family: 'ProximaNovaBold', Helmet, Freesans, sans-serif;
  font-weight: normal;
}
a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  border: none;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover {
  color: #ffffff;
}
a:active,
a:focus,
a:hover {
  border: none;
  outline: none;
}
p {
  margin-bottom: 5px;
}
::-moz-selection {
  background: #34495e;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #34495e;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #34495e;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font-weight: normal;
}
.inside {
  position: relative;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}
header {
  position: relative;
  height: 240px;
}
header > .inside {
  height: 190px;
}
header h1 {
  position: absolute;
  bottom: 10px;
  font: 60px 'ProximaNovaBold', Helmet, Freesans, sans-serif;
}
header summary {
  position: absolute;
  bottom: 21px;
  left: 275px;
  width: 350px;
  font: 16px 'ProximaNovaRegular', Helmet, Freesans, sans-serif;
  line-height: 20px;
}
#view-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: block;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.3);
}
#view-nav ul {
  height: 100%;
  font-size: 0;
}
#view-nav li {
  width: 190px;
  height: 100%;
  border-right: 2px solid #12161f;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
#view-nav li:first-child {
  border-left: 2px solid #12161f;
}
#view-nav li a {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 14px;
  line-height: 52px;
}
#view-nav li a:before {
  content: "";
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 100%;
  background-size: 25px 25px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
#view-nav li a.intro-view:before {
  background-image: url('../images/icons/ResilientDesign_icons_introScreenIcon.png');
}
#view-nav li a.map-view:before {
  background-image: url('../images/icons/ResilientDesign_icons-02.png');
}
#view-nav li a.house-view:before {
  background-image: url('../images/icons/ResilientDesign_icons-03.png');
}
#view-nav li.active > a,
#view-nav li a:hover {
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.3);
}
#wrap {
  width: 1080px;
  margin: 0 auto;
  background: #12161f;
}
#container {
  position: relative;
}
#viewport {
  overflow: hidden;
}
#view-slider {
  position: relative;
  zoom: 1;
  display: block;
  width: 3240px;
  -moz-transition: left 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: left 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: left 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: left 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: left 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#view-slider:before,
#view-slider:after {
  content: "";
  display: table;
}
#view-slider:after {
  clear: both;
}
#view-slider section {
  float: left;
  width: 1080px;
  height: 884px;
  display: block;
  min-height: 50px;
}
#view-slider.intro-view-active {
  left: 0;
}
#view-slider.map-view-active {
  left: -1080px;
}
#view-slider.house-view-active {
  left: -2160px;
}
#intro-view-content-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
#intro-view-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#dm-circle {
  margin: -100px auto 0;
  width: 400px;
  height: 400px;
  display: block;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  border-radius: 400px;
  background: transparent;
  border: 60px solid white;
  position: relative;
}
#map {
  width: 100%;
  height: 100%;
  display: block;
}
.leaflet-control-zoom,
.leaflet-control-attribution {
  display: none;
}
.leaflet-popup {
  left: 0 !important;
  bottom: 40px !important;
}
.leaflet-popup a.leaflet-popup-close-button {
  font: 24px 'ProximaNovaRegular', Helmet, Freesans, sans-serif;
  padding: 0;
  width: 22px;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #000;
}
.leaflet-popup-content {
  font: 12px 'ProximaNovaRegular', Helmet, Freesans, sans-serif;
  line-height: 1.4;
  max-width: 235px;
  padding: 10px 18px 12px;
  margin: 0;
}
.leaflet-popup-content h4 {
  margin-bottom: 2px;
  color: #26c281;
}
.leaflet-popup-content p {
  margin: 0;
}
.leaflet-popup-tip-container {
  width: auto;
}
.leaflet-popup-tip {
  position: relative;
  transform: rotate(0deg);
  background: transparent;
  right: 16px;
  box-shadow: none;
  width: 0;
  height: 0;
  display: block;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #000000;
  border-bottom: none;
  padding: 0;
  margin: 0;
}
#house-view {
  position: relative;
}
#house {
  width: 100%;
  height: 100%;
  display: block;
}
.active-graphic path,
.active-graphic polygon,
.active-graphic line {
  fill: #ccc;
  stroke: #fff;
}
.active-graphic polyline {
  stroke: #fff;
}
#content-wrap {
  position: relative;
  width: 100%;
  height: 580px;
  display: block;
  padding: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#content {
  position: relative;
  height: 530px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
  padding: 20px 20px 20px 23px;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.3);
}
#content:before,
#content:after {
  content: "";
  display: table;
}
#content:after {
  clear: both;
}
#content article,
#content aside {
  float: left;
  display: block;
  margin-right: 25px;
  clear: right;
}
#content article {
  width: 375px;
  min-height: 20px;
}
#content article h2 {
  font: 16px 'ProximaNovaBold', Helmet, Freesans, sans-serif;
  margin-bottom: 5px;
}
#content article p {
  margin-bottom: 15px;
}
#content article strong,
#content article b {
  font-family: 'ProximaNovaRegular', Helmet, Freesans, sans-serif;
}
#content aside {
  width: 166px;
  height: 480px;
}
#content aside h3 {
  font: 12px 'ProximaNovaSemibold', Helmet, Freesans, sans-serif;
  margin-bottom: 2px;
}
#content aside .progress-bar {
  margin-bottom: 30px;
}
#content #problems-content h2,
#content #problems-content strong {
  color: #ffa400;
}
#content #solutions-content {
  margin-right: 0;
}
#content #solutions-content h2,
#content #solutions-content strong {
  color: #26c281;
}
#content:after {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  width: 3px;
  height: 100%;
  display: block;
  padding-top: 35px;
  background: white;
}
#timeline {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 50px;
  display: block;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.3);
  height: 65px;
  border-bottom: 3px solid #34495e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;
}
#slider {
  background: transparent;
  height: 100%;
}
#slider,
#slider * {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#slider .ui-slider-handle,
#slider .ui-slider-range {
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#slider .ui-slider-handle {
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  display: block;
  padding-bottom: 3px !important;
  margin-left: -31px;
  background: white !important;
  color: #fff !important;
  cursor: pointer;
  z-index: 2;
}
#slider .ui-slider-handle:after {
  content: "";
  background-image: url('../images/timeline-handle.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 31px;
  height: 50px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -15.5px;
  top: -45px;
}
#slider .ui-slider-handle.ui-slider-handle-disabled {
  display: none;
}
#slider .ui-slider-range {
  position: absolute;
  top: auto;
  left: 0;
  bottom: -3px;
  background: white;
  height: 3px;
}
#guides {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 0;
}
#guides > div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.7);
  color: #34495e;
  font-size: 12px;
  -moz-transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
#guides > div span {
  width: 40px;
  display: block;
  margin-top: 5px;
  margin-left: 8px;
}
#guides > div.active {
  color: #ffffff;
}
#guides .g0 {
  left: 0px;
}
#guides .g3 {
  left: 51px;
}
#guides .g6 {
  left: 101px;
}
#guides .g12 {
  left: 202px;
}
#guides .g24 {
  left: 404px;
}
#guides .g48 {
  left: 808px;
}
.progress-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.5);
  height: 15px;
  width: 100%;
}
.progress-bar > div {
  -moz-transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  -ms-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  display: block;
  height: 100%;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
#problems-bars h3 {
  color: #ffa400;
}
#problems-bars .progress-bar {
  border-color: #ffa400;
}
#problems-bars .progress-bar > div {
  background-color: #ffa400;
}
#solutions-bars {
  text-align: right;
}
#solutions-bars h3 {
  color: #26c281;
}
#solutions-bars .progress-bar {
  border-color: #26c281;
}
#solutions-bars .progress-bar > div {
  float: right;
  background-color: #26c281;
}
footer .inside {
  padding: 15px 0 32px;
}
footer #logo {
  position: absolute;
  left: 0;
  background-image: url('../images/fhp-footer-logo.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 7px;
  height: 37px;
  display: block;
}
footer .credits {
  font: 14px 'ProximaNovaRegular', Helmet, Freesans, sans-serif;
  line-height: 25px;
  color: #ffffff;
  padding-left: 25px;
  margin-top: -6px;
}
