/*
Resilient Design Interactive Poster
Repository URL: https://github.com/FH-Potsdam/ResilientDesign
Author: Jordi Tost
Author URI: https://github.com/jorditost/
Version: 1.0
*/
/*
	CSS Reset
	----------------------------------------------------------

	Based on the HTML5 Reset Wordpress Theme :: https://github.com/murtaugh/HTML5-Reset-Wordpress-Theme

	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
	Special thanks: The Wordpress theme owes its start to an empty theme authored 
		by Chris Coyier & Jeff Starr: http://digwp.com	
*/
/* Let's default this puppy out
----------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
img,
object,
embed {
  max-width: 100%;
}
html {
  overflow-y: scroll;
}
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
a:hover,
a:active {
  outline: none;
}
small {
  font-size: 85%;
}
strong,
th {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
}
button {
  width: auto;
  overflow: visible;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
:focus {
  outline: 0 !important;
}
:active {
  outline: 0 !important;
}
.group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
@font-face {
  font-family: 'gotham-thin';
  src: url('fonts/gotham-thin-webfont.eot');
  src: url('fonts/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-thin-webfont.woff') format('woff'), url('fonts/gotham-thin-webfont.ttf') format('truetype'), url('fonts/gotham-thin-webfont.svg#gotham-thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham-light';
  src: url('fonts/gotham-light-webfont.eot');
  src: url('fonts/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-light-webfont.woff') format('woff'), url('fonts/gotham-light-webfont.ttf') format('truetype'), url('fonts/gotham-light-webfont.svg#gotham-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham-book';
  src: url('fonts/gotham-book-webfont.eot');
  src: url('fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-book-webfont.woff') format('woff'), url('fonts/gotham-book-webfont.ttf') format('truetype'), url('fonts/gotham-book-webfont.svg#gotham-book') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gotham-med';
  src: url('fonts/gotham-med-webfont.eot');
  src: url('fonts/gotham-med-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/gotham-med-webfont.woff') format('woff'), url('fonts/gotham-med-webfont.ttf') format('truetype'), url('fonts/gotham-med-webfont.svg#gotham-med') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaBold';
  src: url('fonts/proximanova-bold-webfont.eot');
  src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-bold-webfont.woff') format('woff'), url('fonts/proximanova-bold-webfont.ttf') format('truetype'), url('fonts/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaExtrabold';
  src: url('fonts/proximanova-extrabold-webfont.eot');
  src: url('fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-extrabold-webfont.woff') format('woff'), url('fonts/proximanova-extrabold-webfont.ttf') format('truetype'), url('fonts/proximanova-extrabold-webfont.svg#ProximaNovaExtrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.textIMG {
  float: left;
  margin-right: 10px;
  max-width: 170px;
  height: auto;
}
#floor-profile-content .textIMG {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 140px;
  height: 140px;
  display: block;
  margin-top: 5px;
}
/* Ok, this is where the fun starts.
---------------------------------------*/
html,
body {
  -webkit-text-size-adjust: 100% !important;
  /* Prevent font scaling in landscape */
}
body {
  font: 12px 'gotham-book', Helmet, Freesans, sans-serif;
  line-height: 1.6;
  background: #333;
}
html {
  overflow-x: hidden;
}
html.multitouch,
html.multitouch body {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html.rotate {
  overflow-x: auto;
  overflow-y: auto;
}
html.rotate,
html.rotate body {
  width: 1920px;
  height: 1080px;
}
html.rotate body {
  overflow: hidden;
}
html.rotate #wrap {
  /*width: 1920px;
		    height: 1080px;*/
  transform: rotate(-90deg);
  margin-top: -420px;
}
html,
html a {
  -webkit-font-smoothing: antialiased !important;
}
body,
select,
input,
textarea {
  color: #ffffff;
}
strong,
b {
  font-family: 'ProximaNovaBold', Helmet, Freesans, sans-serif;
  font-weight: normal;
}
a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  border: none;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover {
  color: #ffffff;
}
a:active,
a:focus,
a:hover {
  border: none;
  outline: none;
}
p {
  margin-bottom: 5px;
}
::-moz-selection {
  background: #34495e;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #34495e;
  color: #fff;
  text-shadow: none;
}
a:link {
  -webkit-tap-highlight-color: #34495e;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  font-weight: normal;
}
h1 {
  font-size: 60px;
  font-family: 'gotham-light', Helmet, Freesans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}
h2 {
  font-size: 18px;
  font-family: 'gotham-book', Helmet, Freesans, sans-serif;
  letter-spacing: 0.5px;
}
h3 {
  font-family: 'gotham-book', Helmet, Freesans, sans-serif;
}
h4 {
  font-size: 15px;
  font-family: 'gotham-book', Helmet, Freesans, sans-serif;
}
summary {
  font: 16px 'gotham-light', Helmet, Freesans, sans-serif;
  line-height: 22px;
  padding-bottom: 2px;
  letter-spacing: 1.2px;
}
.inside {
  position: relative;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}
header {
  height: 240px;
}
header > .inside {
  padding: 36px 0;
  text-align: center;
}
header h1 {
  line-height: 1;
  margin-bottom: 12px;
}
header summary {
  margin: 0 auto;
}
#view-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: block;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.3);
  background: transparent;
}
#view-nav ul {
  height: 100%;
  font-size: 0;
  text-align: center;
}
#view-nav li {
  width: 200px;
  height: 100%;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
#view-nav li a {
  width: 100%;
  height: 100%;
  text-rendering: optimizeLegibility;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-family: 'gotham-book', Helmet, Freesans, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 50px;
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
#view-nav li a:before {
  content: "";
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 100%;
  background-size: 25px 25px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 12px;
}
#view-nav li a.intro-view:before {
  background-image: url('../images/icons/ResilientDesign_icons_introScreenIcon.png');
}
#view-nav li a.map-view:before {
  background-image: url('../images/icons/ResilientDesign_icons-02.png');
}
#view-nav li a.house-view:before {
  background-image: url('../images/icons/ResilientDesign_icons-03.png');
}
#view-nav li a:hover,
#view-nav li.active > a {
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.3);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
#wrap {
  position: relative;
  width: 1080px;
  height: 1920px;
  overflow: hidden;
  margin: 0 auto;
  background: #12161f;
}
header,
footer,
#content-wrap {
  position: absolute;
  width: 100%;
  background-color: #12161f;
  background-color: rgba(18, 22, 31, 0.75);
  z-index: 6;
}
header {
  top: 0;
}
#content-wrap {
  bottom: 680px;
  z-index: 7;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 1;
}
#content-wrap.hidden {
  bottom: -150px;
  opacity: 0;
}
footer {
  bottom: 0;
}
#container {
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}
#viewport {
  overflow: hidden;
  height: 100%;
}
#view-slider {
  position: relative;
  zoom: 1;
  display: block;
  width: 3240px;
  -moz-transition: left 0.8s ease-out;
  -webkit-transition: left 0.8s ease-out;
  -o-transition: left 0.8s ease-out;
  -ms-transition: left 0.8s ease-out;
  transition: left 0.8s ease-out;
}
#view-slider:before,
#view-slider:after {
  content: "";
  display: table;
}
#view-slider:after {
  clear: both;
}
#view-slider section {
  float: left;
  width: 1080px;
  height: 100%;
  display: block;
  min-height: 50px;
}
#view-slider.intro-view-active {
  left: 0;
}
#view-slider.map-view-active {
  left: -1080px;
}
#view-slider.house-view-active {
  left: -2160px;
}
#intro-view-content-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
#intro-view-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#dm-circle {
  margin: 100px auto 0;
  width: 400px;
  height: 400px;
  display: block;
  -webkit-border-radius: 400px;
  -moz-border-radius: 400px;
  border-radius: 400px;
  background: transparent;
  border: 60px solid white;
  position: relative;
}
#map-view {
  position: relative;
}
#map {
  width: 100%;
  height: 100%;
  display: block;
}
#map-legend {
  position: absolute;
  right: -3px;
  bottom: 695px;
  z-index: 9999;
}
#map-legend h4 {
  font-family: 'gotham-book', Helmet, Freesans, sans-serif;
  margin-bottom: 5px;
}
#map-legend ul li:before {
  content: "";
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #ffffff;
  margin: 5px 8px 0 0;
}
#map-legend ul li:first-child:before {
  background: #ffa400;
}
#map-legend ul li:last-child:before {
  background: #26c281;
}
.leaflet-control-zoom,
.leaflet-control-attribution {
  display: none;
}
.leaflet-popup {
  left: 0 !important;
  bottom: 40px !important;
}
.leaflet-popup a.leaflet-popup-close-button {
  font: 24px 'gotham-book', Helmet, Freesans, sans-serif;
  padding: 0;
  width: 22px;
  top: -3px;
  right: 1px;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.leaflet-popup p {
  line-height: 1.45;
}
.leaflet-popup .orange {
  color: #ffa400;
}
.leaflet-popup .green {
  color: #26c281;
}
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #000;
}
.leaflet-popup-content {
  font: 12px 'gotham-book', Helmet, Freesans, sans-serif;
  line-height: 1.4;
  max-width: 235px;
  padding: 8px 15px 10px;
  margin: 0;
}
.leaflet-popup-content h4 {
  color: #26c281;
}
.leaflet-popup-content p {
  margin: 0;
}
.leaflet-popup-tip-container {
  width: auto;
}
.leaflet-popup-tip {
  position: relative;
  transform: rotate(0deg);
  background: transparent;
  right: 16px;
  box-shadow: none;
  width: 0;
  height: 0;
  display: block;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #000000;
  border-bottom: none;
  padding: 0;
  margin: 0;
}
#house-view {
  position: relative;
}
#house-view .leaflet-container {
  overflow: visible;
}
#house-view .leaflet-popup {
  bottom: 0px !important;
  opacity: 0;
}
#house-view .leaflet-popup .leaflet-popup-content {
  padding-top: 10px;
  padding-right: 23px;
}
#house-view .leaflet-popup.right .leaflet-popup-tip {
  right: 16px;
  box-shadow: none;
  right: -16px;
  float: right;
}
#house-slider {
  position: relative;
  margin-top: 290px;
  top: 0;
  -moz-transition: top 0.5s ease-out;
  -webkit-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  -ms-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
}
#house-slider.floor-3-active {
  top: 0;
}
#house-slider.floor-3-active #nav-floor-3 {
  opacity: 0;
  /*display: none;*/
}
#house-slider.floor-2-active {
  top: -392px;
}
#house-slider.floor-2-active #nav-floor-2 {
  opacity: 0;
  /*display: none;*/
}
#house-slider.floor-1-active {
  top: -784px;
}
#house-slider.floor-1-active #nav-floor-1 {
  opacity: 0;
  /*display: none;*/
}
#house {
  width: 100%;
  height: 100%;
  display: block;
}
#svg-hit-areas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#hit-floor3 #hit-Boy_x5F_1 {
  position: absolute;
  left: 332px;
  top: 388px;
  z-index: 1;
  width: 47px;
  height: 89px;
  display: block;
}
#hit-floor3 #hit-Boy_x5F_2 {
  position: absolute;
  left: 612px;
  top: 320px;
  z-index: 2;
  width: 46px;
  height: 102px;
  display: block;
}
#hit-floor3 #hit-Girl {
  position: absolute;
  left: 704px;
  top: 374px;
  z-index: 1;
  width: 53px;
  height: 95px;
  display: block;
}
#hit-floor3 #hit-Bottle {
  position: absolute;
  left: 389px;
  top: 419px;
  z-index: 1;
  width: 24px;
  height: 33px;
  display: block;
}
#hit-floor3 #hit-Lamp_x5F_3 {
  position: absolute;
  left: 197px;
  top: 400px;
  z-index: 1;
  width: 30px;
  height: 108px;
  display: block;
}
#hit-floor3 #hit-Cabinet_x5F_Open_x5F_3 {
  position: absolute;
  left: 510px;
  top: 220px;
  z-index: 1;
  width: 142px;
  height: 88px;
  display: block;
}
#hit-floor3 #hit-Counter_x5F_Open_x5F_3 {
  position: absolute;
  left: 560px;
  top: 332px;
  z-index: 1;
  width: 60px;
  height: 74px;
  display: block;
}
#hit-floor3 #hit-Laptop {
  position: absolute;
  left: 660px;
  top: 422px;
  z-index: 2;
  width: 45px;
  height: 26px;
  display: block;
}
#hit-floor3 #hit-WC_x5F_3 {
  position: absolute;
  left: 766px;
  top: 348px;
  z-index: 1;
  width: 50px;
  height: 63px;
  display: block;
}
#hit-floor3 #hit-Sink_x5F_3 {
  position: absolute;
  left: 863px;
  top: 355px;
  z-index: 1;
  width: 46px;
  height: 38px;
  display: block;
}
#hit-floor2 #hit-Granny_1_ {
  position: absolute;
  left: 280px;
  top: 757px;
  z-index: 1;
  width: 65px;
  height: 130px;
  display: block;
}
#hit-floor2 #hit-XMLID_38_ {
  position: absolute;
  left: 410px;
  top: 818px;
  z-index: 1;
  width: 56px;
  height: 38px;
  display: block;
}
#hit-floor2 #hit-Radio {
  position: absolute;
  left: 363px;
  top: 769px;
  z-index: 1;
  width: 30px;
  height: 33px;
  display: block;
}
#hit-floor2 #hit-Door_x5F_2 {
  position: absolute;
  left: 424px;
  top: 662px;
  z-index: 1;
  width: 65px;
  height: 150px;
  display: block;
}
#hit-floor2 #hit-Lamp_x5F_2 {
  position: absolute;
  left: 190px;
  top: 792px;
  z-index: 1;
  width: 45px;
  height: 108px;
  display: block;
}
#hit-floor2 #hit-Cabinet_x5F_open_x5F_2 {
  position: absolute;
  left: 510px;
  top: 612px;
  z-index: 1;
  width: 142px;
  height: 88px;
  display: block;
}
#hit-floor2 #hit-Counter_x5F_open_x5F_2 {
  position: absolute;
  left: 560px;
  top: 724px;
  z-index: 1;
  width: 94px;
  height: 74px;
  display: block;
}
#hit-floor2 #hit-First_x5F_Aid_x5F_2 {
  position: absolute;
  left: 873px;
  top: 700px;
  z-index: 1;
  width: 40px;
  height: 38px;
  display: block;
}
#hit-floor2 #hit-XMLID_61_ {
  position: absolute;
  left: 766px;
  top: 740px;
  z-index: 1;
  width: 50px;
  height: 63px;
  display: block;
}
#hit-floor2 #hit-Sink_x5F_2 {
  position: absolute;
  left: 863px;
  top: 747px;
  z-index: 1;
  width: 46px;
  height: 38px;
  display: block;
}
#hit-floor1 #hit-Mom_1_ {
  position: absolute;
  left: 370px;
  top: 1164px;
  z-index: 1;
  width: 45px;
  height: 125px;
  display: block;
}
#hit-floor1 #hit-Smartphone {
  position: absolute;
  left: 410px;
  top: 1209px;
  z-index: 2;
  width: 35px;
  height: 33px;
  display: block;
}
#hit-floor1 #hit-Kid {
  position: absolute;
  left: 590px;
  top: 1224px;
  z-index: 1;
  width: 46px;
  height: 68px;
  display: block;
}
#hit-floor1 #hit-Lamp_x5F_1 {
  position: absolute;
  left: 735px;
  top: 1159px;
  z-index: 1;
  width: 30px;
  height: 112px;
  display: block;
}
#hit-floor1 #hit-Cabinet_x5F_open_x5F_1 {
  position: absolute;
  left: 510px;
  top: 1004px;
  z-index: 1;
  width: 142px;
  height: 88px;
  display: block;
}
#hit-floor1 #hit-Counter_x5F_open_x5F_1 {
  position: absolute;
  left: 560px;
  top: 1116px;
  z-index: 1;
  width: 94px;
  height: 74px;
  display: block;
}
#hit-floor1 #hit-Door_x5F_1 {
  position: absolute;
  left: 424px;
  top: 1054px;
  z-index: 1;
  width: 65px;
  height: 150px;
  display: block;
}
#hit-floor1 #hit-First_x5F_aid_x5F_1 {
  position: absolute;
  left: 873px;
  top: 1084px;
  z-index: 1;
  width: 40px;
  height: 38px;
  display: block;
}
#hit-floor1 #hit-Sink_x5F_1 {
  position: absolute;
  left: 863px;
  top: 1129px;
  z-index: 1;
  width: 46px;
  height: 38px;
  display: block;
}
#svg-nav {
  position: absolute;
  z-index: 2;
  top: 200px;
  left: 0;
  right: 0;
}
#svg-nav > a {
  position: absolute;
  background-color: #12161f;
  opacity: 0.8;
  -moz-transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  width: 100%;
  height: 370px;
  display: block;
}
#svg-nav > a#nav-floor-3 {
  top: 0;
}
#svg-nav > a#nav-floor-2 {
  top: 392px;
}
#svg-nav > a#nav-floor-1 {
  top: 784px;
}
#svg-nav > a.active {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.active-graphic path,
.active-graphic polygon,
.active-graphic line {
  fill: #ccc;
  stroke: #fff;
}
.active-graphic polyline {
  stroke: #fff;
}
#content-wrap {
  position: relative;
  width: 100%;
  height: 580px;
  display: block;
  padding: 35px 35px 0 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#content {
  position: relative;
  height: 545px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 28px 18px 20px 25px;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.3);
}
#content > div {
  zoom: 1;
}
#content > div:before,
#content > div:after {
  content: "";
  display: table;
}
#content > div:after {
  clear: both;
}
#content article,
#content aside {
  float: left;
  display: block;
  margin-right: 25px;
  clear: right;
}
#content article {
  width: 375px;
  min-height: 20px;
}
#content article h2 {
  margin-top: -3px;
  margin-bottom: 8px;
  line-height: 1.4;
  padding: 1px 0 2px;
}
#content article p {
  margin-bottom: 12px;
}
#content article strong,
#content article b {
  font-family: 'gotham-book', Helmet, Freesans, sans-serif;
}
#content article.problems-content h2,
#content article.problems-content strong {
  color: #ffa400;
}
#content article.solutions-content {
  margin-right: 0;
}
#content article.solutions-content h2,
#content article.solutions-content strong {
  color: #26c281;
}
#content article .boldG {
  color: #26c281 !important;
}
#content article .boldO {
  color: #ffa400 !important;
}
#content article ul li {
  position: relative;
  padding-left: 12px;
  margin-left: 10px;
}
#content article ul li:before {
  content: "•";
  position: absolute;
  left: 0;
}
#content article#floor-profile-content ul {
  padding-left: 160px;
}
#content aside {
  width: 166px;
  height: 480px;
}
#content aside .progress-bar {
  margin-bottom: 28px;
}
#content:after {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  width: 3px;
  height: 100%;
  display: block;
  padding-top: 35px;
  background: white;
}
#timeline {
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 50px;
  display: block;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.3);
  height: 65px;
  border-bottom: 3px solid #34495e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 35px;
  padding-right: 35px;
}
#slider {
  background: transparent;
  height: 100%;
}
#slider,
#slider * {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#slider .ui-slider-handle,
#slider .ui-slider-range {
  -moz-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#slider .ui-slider-handle {
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  display: block;
  padding-bottom: 3px !important;
  margin-left: -31px;
  background: white !important;
  color: #fff !important;
  cursor: pointer;
  z-index: 2;
}
#slider .ui-slider-handle:after {
  content: "";
  background-image: url('../images/timeline-handle.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 31px;
  height: 50px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -15.5px;
  top: -45px;
}
#slider .ui-slider-handle.ui-slider-handle-disabled {
  display: none;
}
#slider .ui-slider-range {
  position: absolute;
  top: auto;
  left: 0;
  bottom: -3px;
  background: white;
  height: 3px;
}
#guides {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 0;
}
#guides > div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.7);
  color: #34495e;
  font-size: 12px;
  -moz-transition: color 0.2s ease-out;
  -webkit-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
#guides > div span {
  width: 45px;
  display: block;
  margin-top: 5px;
  margin-left: 8px;
}
#guides > div.active {
  color: #ffffff;
}
#guides .g0 {
  left: 0px;
}
#guides .g3 {
  left: 51px;
}
#guides .g6 {
  left: 101px;
}
#guides .g12 {
  left: 202px;
}
#guides .g24 {
  left: 404px;
}
#guides .g48 {
  left: 808px;
}
#clock {
  position: absolute;
  left: 60px;
  top: 290px;
  z-index: 9;
  font-size: 24px;
  font-family: 'gotham-book', Helmet, Freesans, sans-serif;
  letter-spacing: 0px;
}
.progress-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #34495e;
  background-color: rgba(52, 73, 94, 0.5);
  height: 10px;
  width: 100%;
}
.progress-bar > div {
  -moz-transition: width 0.5s ease-out;
  -webkit-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  -ms-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
  display: block;
  height: 100%;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
}
.problem-bars h3 {
  color: #ffa400;
}
.problem-bars .progress-bar {
  border-color: #ffa400;
}
.problem-bars .progress-bar > div {
  background-color: #ffa400;
}
.solution-bars {
  text-align: right;
}
.solution-bars h3 {
  color: #26c281;
}
.solution-bars .progress-bar {
  border-color: #26c281;
}
.solution-bars .progress-bar > div {
  float: right;
  background-color: #26c281;
}
footer {
  height: 100;
}
footer .inside {
  padding: 32px 0 32px;
  zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
footer .inside:before,
footer .inside:after {
  content: "";
  display: table;
}
footer .inside:after {
  clear: both;
}
footer #logo {
  position: absolute;
  left: 6px;
  background-image: url('../images/fhp_logo.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 210px;
  height: 35px;
  display: block;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
footer .credits {
  font: 10px 'gotham-book', Helmet, Freesans, sans-serif;
  line-height: 1.5;
  color: #ffffff;
  float: right;
  text-align: right;
}
